@import "variable";
@import "mixins";

/* MAIN */
main {
    position: relative;
    z-index: 1;

    section:not(.banner-desk-shelf-system) {
        margin-top: 100px;
    }

    .banner-desk-shelf-system {
        @include banner_create("/assets/images/promo/promo1.png");
    }

    .cta-banner {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__title {
            font-size: 43px;
            font-weight: 400;
            line-height: 58px;
            color: $textColor;
        }

        &__text {
            margin-top: 23px;
            color: $textSecondColor;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.800000011920929px;
            margin-bottom: 26px;
            width: 780px;
        }

        &__goto_shop {
            font-weight: normal;
            font-size: 13px;
            line-height: 21px;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            text-decoration: none;
            color: $textColor;
        }

        &__image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 100%;
            padding-top: 30px;
            height: 550px;
        }

        &__image {
            width: 100%;
        }
    }

    // section: sample products
    .sample-products {
        margin-inline: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5rem;

        .link {
            position: relative;
            font-size: 17px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 1.4px;
            text-decoration: none;
            cursor: pointer;
            z-index: 1;
            color: $textColor;

            &:focus {
                color: $textColor;
            }
        }

        .sample {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            gap: 1rem;

            &__image-wrapper {
                width: 100%;
                max-width: 450px;
                aspect-ratio: 4 / 3;
                overflow: hidden;
            }

            &__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__text {
                height: 30px;
                font-size: 27px;
                line-height: 30px;
                color: $textLinkColor;
                text-align: center;
            }

            &__link {
                text-align: center;
            }
        }
    }

    // section: featured_products
    .featured_products {
        position: relative;
        width: 100%;

        &__title {
            text-align: center;
            font-size: 33px;
            line-height: 36px;
            font-weight: 400;
            color: $textColor;
        }

        &__text {
            margin-top: 15px;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.800000011920929px;
            text-align: center;
            color: $textSecondColor;
        }

        .featured_products-carousel {
            display: flex;
            margin: 50px 50px 0 50px;
            box-sizing: border-box;
            width: calc(100% - 100px);
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            overflow: hidden;

            .product {
                position: relative;
                flex-grow: 1;
                max-width: 350px;
                min-width: 200px;
                border-radius: 5px;

                a {
                    width: 100%;
                    color: $textSecondColor;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 15px;
                    font-family: "Roboto", Helvetica, sans-serif;
                }

                &__wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                &__image-wrapper {
                    background-color: rgba(0, 0, 0, 0.028);
                    width: 100%;
                    height: 100%;

                    & > img {
                        width: 100%;
                        height: auto;
                        aspect-ratio: 1/1;
                    }
                }
                &__title {
                    margin-top: 20px;
                    color: $textColor;
                }
                &__price {
                    margin-top: 5px;
                }
            }
        }
    }

    // section: Home Office Inspiration
    .banner-home-office-inspiration {
        @include banner_create("/assets/images/promo/promo2.png");
    }

    // section: Made The Hard Way
    .about {
        position: relative;
        width: 100%;

        &__title {
            text-align: center;
            font-size: 33px;
            line-height: 36px;
            font-weight: 400;
            color: $textColor;
        }

        &__text {
            position: relative;
            width: 777px;
            left: calc(50% - 777px / 2 + 0.5px);
            margin-top: 15px;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.800000011920929px;
            text-align: center;
            color: $textSecondColor;
        }
    }

    // section: Make Work Meaningful (employee list)
    .employees {
        position: relative;
        width: 100%;
        margin-top: 100px;
        &__title {
            text-align: center;
            font-size: 33px;
            line-height: 36px;
            font-weight: 400;
            color: $textColor;
        }

        &__text {
            position: relative;
            width: 777px;
            left: calc(50% - 777px / 2 + 0.5px);
            margin-top: 15px;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.800000011920929px;
            text-align: center;
            color: $textSecondColor;
        }

        &__grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            justify-items: center;
            align-items: center;
            margin-top: 80px;
            margin-right: 50px;
            margin-left: 50px;
            gap: 25px 25px;

            .employee {
                width: 200px;
                height: 270px;
            }
        }
    }

    // section: READ MORE ABOUT OUR STORY
    .read-about {
        position: relative;
        width: 100%;
        margin: 0 0 400px 0;

        &__title {
            text-align: center;
            font-size: 34px;
            line-height: 36px;
            font-weight: 400;
            color: $textColor;
        }

        &__link {
            position: relative;
            text-decoration: none;
            width: 237px;
            left: calc(50% - 237px / 2 + 0.5px);
            top: 45px;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.800000011920929px;
            text-align: center;
            color: $textColor;
        }
    }

    @include brand-highlight-block();

    @include errorPage(relative);

    @include newProductLabel;
}
