@import "variable";
@import "mixins";

/* MAIN */

main {
    * {
        box-sizing: border-box;
    }
    position: relative;
    display: flex;
    z-index: 1;
    top: 0;
    color: $backgroundColor;

    .snackbar {
        position: fixed;
        border: 3px solid #f7464680;
        background-color: #ffc1c180;
        left: 5px;
        top: 5px;
        width: 360px;
        height: auto;
        border-radius: 5px;
        color: #9e3a3a;
        z-index: 10;
        transition: all 0.3s linear;

        &__header {
            height: 50px;
            line-height: 50px;
            width: 100%;
            cursor: pointer;
            font-family: "Roboto", serif;
            font-weight: 600;
            text-transform: capitalize;
            padding-left: 40px;
            padding-right: 20px;
            border-bottom: 1px solid #f7464680;
            user-select: none;
        }
        &__title {
            float: left;
        }
        &__dropdown-btn {
            float: right;
        }
        &__text {
            padding-left: 20px;
            line-height: 45px;
            font-family: "Roboto", serif;
        }
    }

    article {
        width: 65%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        padding-bottom: 50px;
        scrollbar-width: thin;
        scrollbar-color: $scrollbar-thumb $scrollbar-bg;

        &::-webkit-scrollbar {
            width: $scrollbar-width;
        }

        &::-webkit-scrollbar-track {
            background: $scrollbar-bg;
        }

        &::-webkit-scrollbar-thumb {
            background: $scrollbar-thumb;
            border-radius: 50%;

            &:hover {
                background: $scrollbar-thumb-hover;
            }
        }

        &:hover {
            scrollbar-color: $scrollbar-thumb-hover;
        }

        label {
            font-size: 12px;
        }

        .header {
            position: relative;
            margin-top: 56px;
            text-align: center;
            font-size: 42px;

            .logo-image {
                position: absolute;
                background-image: url("/assets/svg/logo.svg");
                background-repeat: no-repeat;
                background-position: right;
                background-size: cover;
                height: 35px;
                width: 40px;
                left: 50%;
                transform: translate(-525%, 25%);
            }

            a {
                color: $textThirdColor;
                text-decoration: none;
                font-family: "Roboto", Helvetica, sans-serif;
                text-transform: uppercase;
                letter-spacing: 0.2em;
            }

            &__navigation {
                font-size: 13px;
                word-spacing: 10px;
                text-transform: capitalize;
                color: $textLinkColor;
                font-family: "Roboto", Helvetica, sans-serif;

                a {
                    color: $textColor;
                    text-transform: capitalize;
                    letter-spacing: normal;
                }
                .disabled {
                    color: $textSecondColor;
                }
            }
        }

        input[type="checkbox"] {
            display: none;
        }

        .checkbox-label {
            position: relative;
            padding-left: 30px;
            font-size: 14px;
            color: $textSecondColor;
            user-select: none;
            cursor: pointer;
        }

        .checkbox-label:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 14px;
            height: 14px;
            border: 1px solid darken($backgroundColor, 20%);
            border-radius: 5px;
            background: white;
            transition: background 0.15s, border-color 0.15s;
        }

        input[type="checkbox"]:checked + .checkbox-label:before {
            background: $accentLightenColor;
        }

        input[type="checkbox"]:checked + .checkbox-label:after {
            content: "";
            position: absolute;
            left: 5px;
            top: 2px;
            width: 4px;
            height: 8px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        input[type="radio"] {
            display: none;
        }

        .radio-label {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 16px;
            padding-left: 46px;
            cursor: pointer;
            user-select: none;

            &::before {
                content: "";
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                border: 2px solid lighten($borderColor, 30%);
                border-radius: 50%;
                background-color: $secondaryColor;
                transition: background 0.15s, border-color 0.15s;
            }
        }

        input[type="radio"]:checked + .radio-label::before {
            border-color: $accentDarkenColor;
        }

        input[type="radio"]:checked + .radio-label::after {
            content: "";
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $accentLightenColor;
        }

        .form-section {
            color: $textColor;
            margin-top: 56px;

            form {
                display: flex;
                flex-direction: column;
            }

            &__contact-info {
                display: flex;
                flex-direction: column;
                margin-block: 30px;

                &-title {
                    font-size: 20px;
                    font-family: sans-serif;
                    font-weight: 400;
                    text-transform: capitalize;
                    margin-bottom: 18px;
                    color: $textThirdColor;
                }
            }

            &__email-input {
                padding: 11px;
                border: 1px solid #d9d9d9;
                border-radius: 5px;
                margin-bottom: 10px;
                &:focus {
                    border: 1px solid #4b4d51;
                }
            }

            &__shipping-address {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin-top: 30px;
                margin-bottom: 30px;

                &-title {
                    font-size: 20px;
                    font-family: sans-serif;
                    font-weight: 400;
                    text-transform: capitalize;
                    margin-bottom: 18px;
                }

                select,
                input[type="text"] {
                    padding: 12px;
                    border: 1px solid #d9d9d9;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    transition: all 0.2s linear;

                    &:focus {
                        border: 1px solid #4b4d51;
                    }
                }
                #firstname,
                #city {
                    width: 50%;
                    float: left;
                    margin-right: 5px;
                }
                #lastname,
                #postalCode {
                    width: 50%;
                    float: right;
                    margin-left: 5px;
                }
                .row-block {
                    display: flex;
                    flex-direction: row;
                }
            }

            &__info-block {
                border: 1px solid $accentDarkenColor;
                border-radius: 5px;
                width: 570px;
                min-width: 530px;
                padding: 12px 16px;
                float: right;
                margin-top: 28px;
                margin-bottom: 48px;

                &--block {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    font-size: 13px;
                    font-family: sans-serif;
                }

                &--name {
                    width: 120px;
                    color: $textSecondColor;
                }

                &--value {
                    width: 100%;
                    color: $thirdColor;
                }

                &--changeButton {
                    margin-left: 15px;
                    font-size: 12px;
                    cursor: pointer;
                    color: $textLinkColor;
                    text-decoration: none;
                }

                hr {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border: 1px solid $accentLightenColor;
                }
            }

            &__shipping-block {
                width: 570px;
                min-width: 530px;
                float: right;

                fieldset {
                    border: 1px solid $accentDarkenColor;
                    border-radius: 5px;
                }

                &--block {
                    font-family: sans-serif;

                    .radio-label {
                        transition: all 0.15s linear;
                    }

                    input[type="radio"]:checked + .radio-label {
                        background-color: $accentDarkenColor;
                    }

                    &:first-child {
                        border-bottom: 1px solid $accentDarkenColor;
                    }
                }

                &--title {
                    font-size: 18px;
                    color: $textThirdColor;
                    font-weight: 400;
                    margin-bottom: 25px;
                    font-family: "Roboto", "Helvetica", sans-serif;
                }

                &--check {
                    width: 35px;
                    padding-left: 10px;
                }

                &--name {
                    font-size: 14px;
                    width: 100%;
                    color: $textColor;
                    text-transform: capitalize;
                }

                &--price {
                    padding-left: 10px;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                }
            }

            &__payment-block {
                width: 570px;
                min-width: 530px;

                &--header {
                    margin-bottom: 21px;
                }

                &--title {
                    font-size: 18px;
                    font-weight: 400;
                    color: $textThirdColor;
                }

                &--text {
                    font: 14px sans-serif;
                    color: $textSecondColor;
                    margin-top: 3.5px;
                }

                &--content-header {
                    padding: 16px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid $accentDarkenColor;
                    color: $textColor;

                    ul {
                        display: flex;
                        list-style: none;

                        .payment-icon {
                            border-radius: 0.3em;
                            background-size: cover;
                            background-repeat: no-repeat !important;
                            transition: all 0.15s ease-in-out;
                            width: 38px;
                            height: 24px;
                            margin-left: 2px;

                            .visually-hidden {
                                border: 0;
                                clip: rect(0 0 0 0);
                                width: 2px;
                                height: 2px;
                                margin: -2px;
                                overflow: hidden;
                                padding: 0;
                                position: absolute;
                                white-space: nowrap;
                            }

                            @each $card-name in (visa, mastercard, american-express, discover) {
                                &--#{$card-name} {
                                    background: url("/view/images/svg/#{$card-name}.svg");
                                }
                            }

                            &--known {
                                filter: grayscale(0) !important;
                                opacity: 1;
                            }
                            &--unknown {
                                filter: grayscale(100%) !important;
                                opacity: 0.5;
                            }
                        }
                    }
                }

                &--content-label {
                    font: 14px sans-serif;
                    font-weight: 600;
                }

                &--content-main {
                    padding: 16px;
                    display: flex;
                    flex-wrap: wrap;
                    background-color: $accentDarkenColor;
                    border-radius: 5px;

                    input {
                        padding: 13px 11px;
                        margin: 6px;
                        border: 1px solid $thirdColor;
                        border-radius: 5px;
                        color: $backgroundColor;
                        transition: all 0.2s linear;

                        &:nth-child(-n + 2) {
                            width: 100%;
                        }
                        &:nth-last-child(-n + 2) {
                            width: calc(50% - 12px);
                        }

                        &:focus {
                            border: 1px solid $backgroundColor;
                        }
                    }
                }
            }

            &__billing-address-block {
                width: 570px;
                min-width: 530px;
                font-family: sans-serif;

                fieldset {
                    border: 1px solid $accentDarkenColor;
                    border-radius: 5px;
                }

                &--block {
                    .radio-label {
                        transition: all 0.15s linear;
                    }

                    input[type="radio"]:checked + .radio-label {
                        background-color: $accentDarkenColor;
                    }

                    &:first-child {
                        border-bottom: 1px solid $accentDarkenColor;
                    }
                }

                &--header {
                    margin-bottom: 21px;
                }

                &--title {
                    font-size: 18px;
                    color: $textThirdColor;
                    font-weight: 400;
                    margin-top: 25px;
                }

                &--text {
                    font: 14px sans-serif;
                    color: $textSecondColor;
                    margin-top: 3.5px;
                }

                &--name {
                    font-size: 14px;
                    text-transform: capitalize;
                }

                &--price {
                    padding-left: 10px;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                }

                #different-billing-address {
                    display: none;
                }
            }

            &__billing-address {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding: 16px;
                background-color: $accentDarkenColor;

                select,
                input[type="text"] {
                    padding: 12px;
                    border: 1px solid #d9d9d9;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    transition: all 0.2s linear;

                    &:focus {
                        border: 1px solid #4b4d51;
                    }
                }
                #firstname,
                #city {
                    width: 50%;
                    float: left;
                    margin-right: 5px;
                }
                #lastname,
                #postalCode {
                    width: 50%;
                    float: right;
                    margin-left: 5px;
                }
                .row-block {
                    display: flex;
                    flex-direction: row;
                }
                button {
                    margin-top: 30px;
                    width: 175px;
                    height: 60px;
                    background-color: #4b4d51;
                    color: #fafafa;
                    font-family: sans-serif;
                    border: none;
                    border-radius: 5px;
                    transition: all 0.2s linear;
                    cursor: pointer;

                    &:hover {
                        background-color: #323437;
                    }
                }
                a {
                    color: #4b4d51;
                    text-decoration: none;
                    margin-left: 20px;
                    font-family: sans-serif;
                    font-size: 14px;
                }
            }

            .controls-block {
                button {
                    margin-top: 30px;
                    width: 175px;
                    height: 50px;
                    background-color: $accentDarkenColor;
                    color: $textThirdColor;
                    font-family: sans-serif;
                    border: none;
                    border-radius: 5px;
                    transition: background 0.15s linear;
                    text-transform: capitalize;
                    cursor: pointer;

                    &:hover {
                        background-color: $accentLightenColor;
                    }
                }
                a {
                    color: $textLinkColor;
                    text-decoration: none;
                    margin-left: 20px;
                    font-family: sans-serif;
                    font-size: 14px;
                }
            }
        }
    }

    .order-summary {
        border-left: 1px solid $accentLightenColor;
        background-color: $secondaryColor;
        width: 35%;
        overflow: hidden;

        &__sections {
            width: 22vw;
            margin: 56px 0 0 44px;
        }

        &__section--product-container {
            margin-top: 10px;
        }

        &__section--product-container {
            line-height: 65px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 14px;
        }
        &__section--product-image {
            width: 65px;
            height: 65px;
            border: 1px solid $selectionColor;
            border-radius: 5px;
            float: left;
        }

        &__section--product-quantity {
            position: relative;
            z-index: 10;
            border-radius: 50%;
            background-color: $accentDarkenColor;
            font-size: 12px;
            font-family: sans-serif;
            width: 21px;
            height: 21px;
            color: $textThirdColor;
            text-align: center;
            float: left;
            line-height: 21px;
            transform: translate(-50%, -50%);
        }

        &__section--product-title {
            padding-left: 80px;
        }

        &__section--product-price {
            float: right;
            position: relative;
            font-family: "Roboto", sans-serif;
            top: -66px;
        }

        hr {
            width: 100%;
            margin-block: 30px;
            height: 1px;
            border: none;
            background-color: $accentLightenColor;
        }

        &__section--discount {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }

        &__section--discount-input {
            padding: 12px;
            border: 1px solid $accentDarkenColor;
            border-radius: 5px;
            transition: border 0.15s linear;

            &:focus {
                border-color: $accentLightenColor;
            }
        }

        &__section--discount-button-check {
            width: 75px;
            height: 41px;
            background-color: $accentDarkenColor;
            color: $textThirdColor;
            font-family: sans-serif;
            border: none;
            border-radius: 5px;
            transition: all 0.15s linear;
            cursor: pointer;

            &:hover {
                background-color: $accentLightenColor;
            }
        }
        &__section--subtotal {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px 0 5px 0;

            &-text {
                font-size: 14px;
            }
            &-value {
                font-size: 14px;
            }
        }
        &__section--total {
            display: flex;

            &-text {
                width: 60%;
                line-height: 30px;
                font-size: 16px;
            }
            &-currency {
                width: 20%;
                text-align: right;
                padding-right: 5px;
                font-size: 12px;
                line-height: 30px;
                color: #717171;
            }
            &-value {
                width: 20%;
                font-size: 24px;
                font-weight: 600;
                text-align: right;
            }
        }
    }

    .success-payment {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 150px;

        &__header {
            position: relative;
            margin-top: 56px;
            font-size: 42px;

            .logo-image {
                height: 35px;
                width: 40px;
            }

            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0.5em;
                text-decoration: none;
                text-transform: uppercase;
                color: $textThirdColor;
                font-family: "Roboto", Helvetica, sans-serif;
                letter-spacing: 0.2em;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &--text {
                font-size: 32px;
				color: $textColor;
				// text-align: center;
				line-height: 1.25em;
                
				span {
                    color: $accentLightenColor;
					font-size: 36px;
				}
            }

            &--button-return {
                margin-top: 50px;
                padding: 15px 40px;
                background-color: $secondaryColor;
                font-family: "Roboto", "Helvetica", sans-serif;
                border-radius: 5px;
                transition: all 0.15s;
                text-transform: capitalize;
                font-weight: 600;
                text-decoration: none;
                color: $backgroundColor;
                cursor: pointer;

                &:hover {
                    color: $secondaryColor;
                    background-color: $accentLightenColor;
                }
            }
        }
    }
}
