$white: #FFFFFF;
$blockColor: #9AA8B1;
$lightgrey: #96A3AC;
$dangerRed: #D3302F;
$footerColor: #F9F9F9;
$black: #000000;
$darkgrey: #333333;
$fontSecondColor: #A0A0A0;
$fontLinkColor: #f69368;
$accountModalBlockWidth: 700px;
$deleteModalBlockWidth: 36.8vw;
$deleteModalBlockHeight: 20vh;
$cartModalBlockWidth: 700px;