/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  background-color: #2e2f2e;
  padding-inline: 50px;
  height: 100%;
}
footer .go-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 82px;
  height: 82px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #00a800;
  text-align: center;
  font-size: 15px;
  border-radius: 0 0 15px 15px;
  transition: all 0.2s linear;
  cursor: pointer;
}
footer .go-up-button:hover {
  background-color: #006600;
}
footer .footer-links {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  gap: 2rem;
  margin-bottom: 20px;
}
footer .footer-links__nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}
footer .footer-links__nav a {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 16px;
  text-decoration: none;
  color: #fafafa;
  transition: all 0.15s linear;
}
footer .footer-links__nav a:hover {
  color: #4cc24c;
  transition: all 0.15s linear;
}
footer .footer-links__copywrite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
footer .footer-links__copywrite a {
  font-size: 13px;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  color: #a0a0a0;
}
footer .footer-links__copywrite a:last-child {
  color: #fafafa;
}
footer .footer-links__copywrite span {
  font-size: 13px;
  font-weight: 400;
  color: #a0a0a0;
}

/* Media */
@media screen and (max-width: 1400px) {
  .about__image {
    display: flex;
    width: 100%;
    margin: 23px 0 50px 0 !important;
    position: relative;
  }
  .about__image img {
    float: left;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  #responsive-nav-block {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .header__burder-menu {
    display: flex !important;
  }
  header a.header-left,
  .header-right {
    display: none !important;
  }
  #modal-block-content-account {
    flex-wrap: wrap !important;
    max-width: 370px !important;
  }
  #modal-block-content-account .modal-block-content__sign-inCust {
    height: 50% !important;
    width: 100% !important;
    border: none !important;
    border-bottom: 1px solid #7d7d7d !important;
    float: left;
    font-family: serif;
    text-transform: capitalize;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
  }
  #modal-block-content-account .modal-block-content__sign-inCust .modal-block-content__loginBtn {
    display: flex;
    margin: 40px;
    font-family: "RobotoRegular", sans-serif;
    color: #fafafa;
    text-decoration: none;
    justify-content: center;
    text-transform: uppercase;
  }
  #modal-block-content-account .modal-block-content__sign-inCust .modal-block-content__loginBtn::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #fafafa;
    display: block;
    transform: translate(0, 25px);
    transition: all 0.2s linear;
  }
  #modal-block-content-account .modal-block-content__sign-inCust .modal-block-content__loginBtn:hover:after {
    width: 90px;
  }
  #modal-block-content-account .modal-block-content__newCust {
    margin-top: 10px;
    border: none;
    width: 100% !important;
    height: 50% !important;
    margin-bottom: 25px;
  }
}
/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}/*# sourceMappingURL=footer.css.map */