/* MAIN */
main {
  position: relative;
  z-index: 1;
}
main section:not(.banner-desk-shelf-system) {
  margin-top: 100px;
}
main .banner-desk-shelf-system {
  position: relative;
  background-image: url("/assets/images/promo/promo1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner-desk-shelf-system::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 31, 30, 0.4);
  pointer-events: none;
  z-index: 1;
}
main .banner-desk-shelf-system > * {
  position: relative;
  z-index: 2;
}
main .banner-desk-shelf-system__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
main .banner-desk-shelf-system__innerText {
  position: relative;
  text-align: center;
}
main .banner-desk-shelf-system__title {
  line-height: 46px;
  font-size: 43px;
  font-weight: 400;
  margin-bottom: 12px;
}
main .banner-desk-shelf-system__subtitle {
  line-height: 17.5px;
  font-size: 15px;
  margin-bottom: 28px;
}
main .banner-desk-shelf-system__span {
  width: 95px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 13px;
}
main .cta-banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .cta-banner__title {
  font-size: 43px;
  font-weight: 400;
  line-height: 58px;
  color: #eeeeee;
}
main .cta-banner__text {
  margin-top: 23px;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.8000000119px;
  margin-bottom: 26px;
  width: 780px;
}
main .cta-banner__goto_shop {
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #eeeeee;
}
main .cta-banner__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding-top: 30px;
  height: 550px;
}
main .cta-banner__image {
  width: 100%;
}
main .sample-products {
  margin-inline: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
}
main .sample-products .link {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1.4px;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  color: #eeeeee;
}
main .sample-products .link:focus {
  color: #eeeeee;
}
main .sample-products .sample {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 1rem;
}
main .sample-products .sample__image-wrapper {
  width: 100%;
  max-width: 450px;
  aspect-ratio: 4/3;
  overflow: hidden;
}
main .sample-products .sample__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sample-products .sample__text {
  height: 30px;
  font-size: 27px;
  line-height: 30px;
  color: #4cc24c;
  text-align: center;
}
main .sample-products .sample__link {
  text-align: center;
}
main .featured_products {
  position: relative;
  width: 100%;
}
main .featured_products__title {
  text-align: center;
  font-size: 33px;
  line-height: 36px;
  font-weight: 400;
  color: #eeeeee;
}
main .featured_products__text {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.8000000119px;
  text-align: center;
  color: #a0a0a0;
}
main .featured_products .featured_products-carousel {
  display: flex;
  margin: 50px 50px 0 50px;
  box-sizing: border-box;
  width: calc(100% - 100px);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: hidden;
}
main .featured_products .featured_products-carousel .product {
  position: relative;
  flex-grow: 1;
  max-width: 350px;
  min-width: 200px;
  border-radius: 5px;
}
main .featured_products .featured_products-carousel .product a {
  width: 100%;
  color: #a0a0a0;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  font-family: "Roboto", Helvetica, sans-serif;
}
main .featured_products .featured_products-carousel .product__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .featured_products .featured_products-carousel .product__image-wrapper {
  background-color: rgba(0, 0, 0, 0.028);
  width: 100%;
  height: 100%;
}
main .featured_products .featured_products-carousel .product__image-wrapper > img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
main .featured_products .featured_products-carousel .product__title {
  margin-top: 20px;
  color: #eeeeee;
}
main .featured_products .featured_products-carousel .product__price {
  margin-top: 5px;
}
main .banner-home-office-inspiration {
  position: relative;
  background-image: url("/assets/images/promo/promo2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner-home-office-inspiration::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 31, 30, 0.4);
  pointer-events: none;
  z-index: 1;
}
main .banner-home-office-inspiration > * {
  position: relative;
  z-index: 2;
}
main .banner-home-office-inspiration__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
main .banner-home-office-inspiration__innerText {
  position: relative;
  text-align: center;
}
main .banner-home-office-inspiration__title {
  line-height: 46px;
  font-size: 43px;
  font-weight: 400;
  margin-bottom: 12px;
}
main .banner-home-office-inspiration__subtitle {
  line-height: 17.5px;
  font-size: 15px;
  margin-bottom: 28px;
}
main .banner-home-office-inspiration__span {
  width: 95px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 13px;
}
main .about {
  position: relative;
  width: 100%;
}
main .about__title {
  text-align: center;
  font-size: 33px;
  line-height: 36px;
  font-weight: 400;
  color: #eeeeee;
}
main .about__text {
  position: relative;
  width: 777px;
  left: calc(50% - 388.5px + 0.5px);
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.8000000119px;
  text-align: center;
  color: #a0a0a0;
}
main .employees {
  position: relative;
  width: 100%;
  margin-top: 100px;
}
main .employees__title {
  text-align: center;
  font-size: 33px;
  line-height: 36px;
  font-weight: 400;
  color: #eeeeee;
}
main .employees__text {
  position: relative;
  width: 777px;
  left: calc(50% - 388.5px + 0.5px);
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.8000000119px;
  text-align: center;
  color: #a0a0a0;
}
main .employees__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 80px;
  margin-right: 50px;
  margin-left: 50px;
  gap: 25px 25px;
}
main .employees__grid .employee {
  width: 200px;
  height: 270px;
}
main .read-about {
  position: relative;
  width: 100%;
  margin: 0 0 400px 0;
}
main .read-about__title {
  text-align: center;
  font-size: 34px;
  line-height: 36px;
  font-weight: 400;
  color: #eeeeee;
}
main .read-about__link {
  position: relative;
  text-decoration: none;
  width: 237px;
  left: calc(50% - 118.5px + 0.5px);
  top: 45px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.8000000119px;
  text-align: center;
  color: #eeeeee;
}
main .brand-highlight {
  position: relative;
  width: calc(100% - 200px);
  height: 400px;
  background-color: #9ab19c;
  color: #ffffff;
  border-radius: 5px;
  margin-inline: 100px !important;
}
main .brand-highlight__innerText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
main .brand-highlight__innerText .logo-image {
  background-image: url("/assets/svg/logo.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 81px;
  width: 81px;
}
main .brand-highlight__title {
  line-height: 46px;
  font-size: 43px;
  font-weight: 400;
}
main .brand-highlight__subtitle {
  line-height: 17.5px;
  font-size: 15px;
}
main .error {
  position: relative;
  width: calc(100% - 200px);
  margin: 50px 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #eeeeee;
  gap: 2rem;
}
main .error__image-wrapper {
  max-width: 600px;
}
main .error__image {
  width: 100%;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .error__text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
main .error span {
  color: #00a800;
}
main .error h1 {
  font-size: 48px;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
}
main .error p {
  font-family: "Roboto";
  font-weight: 600;
  line-height: 16px;
}
main .error a {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.15s linear;
  background-color: #00a800;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .error a:hover {
  background-color: #006600;
  color: #eeeeee;
}
main .new-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: -13px;
  left: 13px;
  padding: 5px 0;
  width: 75px;
  height: 45px;
  background-color: #96a3ac;
  transform: rotate(45deg);
}
main .new-label::before {
  content: "new";
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 10px;
  color: #ffffff;
}
main .new-label-wrapper {
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  overflow: hidden;
}/*# sourceMappingURL=styleHome.css.map */