/* MAIN */
main {
  position: relative;
  display: flex;
  z-index: 1;
  top: 0;
  color: #1e1f1e;
}
main * {
  box-sizing: border-box;
}
main .snackbar {
  position: fixed;
  border: 3px solid rgba(247, 70, 70, 0.5019607843);
  background-color: rgba(255, 193, 193, 0.5019607843);
  left: 5px;
  top: 5px;
  width: 360px;
  height: auto;
  border-radius: 5px;
  color: #9e3a3a;
  z-index: 10;
  transition: all 0.3s linear;
}
main .snackbar__header {
  height: 50px;
  line-height: 50px;
  width: 100%;
  cursor: pointer;
  font-family: "Roboto", serif;
  font-weight: 600;
  text-transform: capitalize;
  padding-left: 40px;
  padding-right: 20px;
  border-bottom: 1px solid rgba(247, 70, 70, 0.5019607843);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .snackbar__title {
  float: left;
}
main .snackbar__dropdown-btn {
  float: right;
}
main .snackbar__text {
  padding-left: 20px;
  line-height: 45px;
  font-family: "Roboto", serif;
}
main article {
  width: 65%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-bottom: 50px;
  scrollbar-width: thin;
  scrollbar-color: #006600 #373937;
}
main article::-webkit-scrollbar {
  width: 12px;
}
main article::-webkit-scrollbar-track {
  background: #373937;
}
main article::-webkit-scrollbar-thumb {
  background: #006600;
  border-radius: 50%;
}
main article::-webkit-scrollbar-thumb:hover {
  background: #00a800;
}
main article:hover {
  scrollbar-color: #00a800;
}
main article label {
  font-size: 12px;
}
main article .header {
  position: relative;
  margin-top: 56px;
  text-align: center;
  font-size: 42px;
}
main article .header .logo-image {
  position: absolute;
  background-image: url("/assets/svg/logo.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 35px;
  width: 40px;
  left: 50%;
  transform: translate(-525%, 25%);
}
main article .header a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
main article .header__navigation {
  font-size: 13px;
  word-spacing: 10px;
  text-transform: capitalize;
  color: #4cc24c;
  font-family: "Roboto", Helvetica, sans-serif;
}
main article .header__navigation a {
  color: #eeeeee;
  text-transform: capitalize;
  letter-spacing: normal;
}
main article .header__navigation .disabled {
  color: #a0a0a0;
}
main article input[type=checkbox] {
  display: none;
}
main article .checkbox-label {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  color: #a0a0a0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
main article .checkbox-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  transition: background 0.15s, border-color 0.15s;
}
main article input[type=checkbox]:checked + .checkbox-label:before {
  background: #00a800;
}
main article input[type=checkbox]:checked + .checkbox-label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
main article input[type=radio] {
  display: none;
}
main article .radio-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  padding-left: 46px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main article .radio-label::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 2px solid #5c795c;
  border-radius: 50%;
  background-color: #fafafa;
  transition: background 0.15s, border-color 0.15s;
}
main article input[type=radio]:checked + .radio-label::before {
  border-color: #006600;
}
main article input[type=radio]:checked + .radio-label::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00a800;
}
main article .form-section {
  color: #eeeeee;
  margin-top: 56px;
}
main article .form-section form {
  display: flex;
  flex-direction: column;
}
main article .form-section__contact-info {
  display: flex;
  flex-direction: column;
  margin-block: 30px;
}
main article .form-section__contact-info-title {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 18px;
  color: #ffffff;
}
main article .form-section__email-input {
  padding: 11px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 10px;
}
main article .form-section__email-input:focus {
  border: 1px solid #4b4d51;
}
main article .form-section__shipping-address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}
main article .form-section__shipping-address-title {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 18px;
}
main article .form-section__shipping-address select,
main article .form-section__shipping-address input[type=text] {
  padding: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.2s linear;
}
main article .form-section__shipping-address select:focus,
main article .form-section__shipping-address input[type=text]:focus {
  border: 1px solid #4b4d51;
}
main article .form-section__shipping-address #firstname,
main article .form-section__shipping-address #city {
  width: 50%;
  float: left;
  margin-right: 5px;
}
main article .form-section__shipping-address #lastname,
main article .form-section__shipping-address #postalCode {
  width: 50%;
  float: right;
  margin-left: 5px;
}
main article .form-section__shipping-address .row-block {
  display: flex;
  flex-direction: row;
}
main article .form-section__info-block {
  border: 1px solid #006600;
  border-radius: 5px;
  width: 570px;
  min-width: 530px;
  padding: 12px 16px;
  float: right;
  margin-top: 28px;
  margin-bottom: 48px;
}
main article .form-section__info-block--block {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 13px;
  font-family: sans-serif;
}
main article .form-section__info-block--name {
  width: 120px;
  color: #a0a0a0;
}
main article .form-section__info-block--value {
  width: 100%;
  color: #dadada;
}
main article .form-section__info-block--changeButton {
  margin-left: 15px;
  font-size: 12px;
  cursor: pointer;
  color: #4cc24c;
  text-decoration: none;
}
main article .form-section__info-block hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #00a800;
}
main article .form-section__shipping-block {
  width: 570px;
  min-width: 530px;
  float: right;
}
main article .form-section__shipping-block fieldset {
  border: 1px solid #006600;
  border-radius: 5px;
}
main article .form-section__shipping-block--block {
  font-family: sans-serif;
}
main article .form-section__shipping-block--block .radio-label {
  transition: all 0.15s linear;
}
main article .form-section__shipping-block--block input[type=radio]:checked + .radio-label {
  background-color: #006600;
}
main article .form-section__shipping-block--block:first-child {
  border-bottom: 1px solid #006600;
}
main article .form-section__shipping-block--title {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 25px;
  font-family: "Roboto", "Helvetica", sans-serif;
}
main article .form-section__shipping-block--check {
  width: 35px;
  padding-left: 10px;
}
main article .form-section__shipping-block--name {
  font-size: 14px;
  width: 100%;
  color: #eeeeee;
  text-transform: capitalize;
}
main article .form-section__shipping-block--price {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
main article .form-section__payment-block {
  width: 570px;
  min-width: 530px;
}
main article .form-section__payment-block--header {
  margin-bottom: 21px;
}
main article .form-section__payment-block--title {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
main article .form-section__payment-block--text {
  font: 14px sans-serif;
  color: #a0a0a0;
  margin-top: 3.5px;
}
main article .form-section__payment-block--content-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #006600;
  color: #eeeeee;
}
main article .form-section__payment-block--content-header ul {
  display: flex;
  list-style: none;
}
main article .form-section__payment-block--content-header ul .payment-icon {
  border-radius: 0.3em;
  background-size: cover;
  background-repeat: no-repeat !important;
  transition: all 0.15s ease-in-out;
  width: 38px;
  height: 24px;
  margin-left: 2px;
}
main article .form-section__payment-block--content-header ul .payment-icon .visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  width: 2px;
  height: 2px;
  margin: -2px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
main article .form-section__payment-block--content-header ul .payment-icon--visa {
  background: url("/view/images/svg/visa.svg");
}
main article .form-section__payment-block--content-header ul .payment-icon--mastercard {
  background: url("/view/images/svg/mastercard.svg");
}
main article .form-section__payment-block--content-header ul .payment-icon--american-express {
  background: url("/view/images/svg/american-express.svg");
}
main article .form-section__payment-block--content-header ul .payment-icon--discover {
  background: url("/view/images/svg/discover.svg");
}
main article .form-section__payment-block--content-header ul .payment-icon--known {
  filter: grayscale(0) !important;
  opacity: 1;
}
main article .form-section__payment-block--content-header ul .payment-icon--unknown {
  filter: grayscale(100%) !important;
  opacity: 0.5;
}
main article .form-section__payment-block--content-label {
  font: 14px sans-serif;
  font-weight: 600;
}
main article .form-section__payment-block--content-main {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  background-color: #006600;
  border-radius: 5px;
}
main article .form-section__payment-block--content-main input {
  padding: 13px 11px;
  margin: 6px;
  border: 1px solid #dadada;
  border-radius: 5px;
  color: #1e1f1e;
  transition: all 0.2s linear;
}
main article .form-section__payment-block--content-main input:nth-child(-n+2) {
  width: 100%;
}
main article .form-section__payment-block--content-main input:nth-last-child(-n+2) {
  width: calc(50% - 12px);
}
main article .form-section__payment-block--content-main input:focus {
  border: 1px solid #1e1f1e;
}
main article .form-section__billing-address-block {
  width: 570px;
  min-width: 530px;
  font-family: sans-serif;
}
main article .form-section__billing-address-block fieldset {
  border: 1px solid #006600;
  border-radius: 5px;
}
main article .form-section__billing-address-block--block .radio-label {
  transition: all 0.15s linear;
}
main article .form-section__billing-address-block--block input[type=radio]:checked + .radio-label {
  background-color: #006600;
}
main article .form-section__billing-address-block--block:first-child {
  border-bottom: 1px solid #006600;
}
main article .form-section__billing-address-block--header {
  margin-bottom: 21px;
}
main article .form-section__billing-address-block--title {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 25px;
}
main article .form-section__billing-address-block--text {
  font: 14px sans-serif;
  color: #a0a0a0;
  margin-top: 3.5px;
}
main article .form-section__billing-address-block--name {
  font-size: 14px;
  text-transform: capitalize;
}
main article .form-section__billing-address-block--price {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
main article .form-section__billing-address-block #different-billing-address {
  display: none;
}
main article .form-section__billing-address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 16px;
  background-color: #006600;
}
main article .form-section__billing-address select,
main article .form-section__billing-address input[type=text] {
  padding: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.2s linear;
}
main article .form-section__billing-address select:focus,
main article .form-section__billing-address input[type=text]:focus {
  border: 1px solid #4b4d51;
}
main article .form-section__billing-address #firstname,
main article .form-section__billing-address #city {
  width: 50%;
  float: left;
  margin-right: 5px;
}
main article .form-section__billing-address #lastname,
main article .form-section__billing-address #postalCode {
  width: 50%;
  float: right;
  margin-left: 5px;
}
main article .form-section__billing-address .row-block {
  display: flex;
  flex-direction: row;
}
main article .form-section__billing-address button {
  margin-top: 30px;
  width: 175px;
  height: 60px;
  background-color: #4b4d51;
  color: #fafafa;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  transition: all 0.2s linear;
  cursor: pointer;
}
main article .form-section__billing-address button:hover {
  background-color: #323437;
}
main article .form-section__billing-address a {
  color: #4b4d51;
  text-decoration: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 14px;
}
main article .form-section .controls-block button {
  margin-top: 30px;
  width: 175px;
  height: 50px;
  background-color: #006600;
  color: #ffffff;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  transition: background 0.15s linear;
  text-transform: capitalize;
  cursor: pointer;
}
main article .form-section .controls-block button:hover {
  background-color: #00a800;
}
main article .form-section .controls-block a {
  color: #4cc24c;
  text-decoration: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 14px;
}
main .order-summary {
  border-left: 1px solid #00a800;
  background-color: #fafafa;
  width: 35%;
  overflow: hidden;
}
main .order-summary__sections {
  width: 22vw;
  margin: 56px 0 0 44px;
}
main .order-summary__section--product-container {
  margin-top: 10px;
}
main .order-summary__section--product-container {
  line-height: 65px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
main .order-summary__section--product-image {
  width: 65px;
  height: 65px;
  border: 1px solid rgba(0, 102, 0, 0.5647058824);
  border-radius: 5px;
  float: left;
}
main .order-summary__section--product-quantity {
  position: relative;
  z-index: 10;
  border-radius: 50%;
  background-color: #006600;
  font-size: 12px;
  font-family: sans-serif;
  width: 21px;
  height: 21px;
  color: #ffffff;
  text-align: center;
  float: left;
  line-height: 21px;
  transform: translate(-50%, -50%);
}
main .order-summary__section--product-title {
  padding-left: 80px;
}
main .order-summary__section--product-price {
  float: right;
  position: relative;
  font-family: "Roboto", sans-serif;
  top: -66px;
}
main .order-summary hr {
  width: 100%;
  margin-block: 30px;
  height: 1px;
  border: none;
  background-color: #00a800;
}
main .order-summary__section--discount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
main .order-summary__section--discount-input {
  padding: 12px;
  border: 1px solid #006600;
  border-radius: 5px;
  transition: border 0.15s linear;
}
main .order-summary__section--discount-input:focus {
  border-color: #00a800;
}
main .order-summary__section--discount-button-check {
  width: 75px;
  height: 41px;
  background-color: #006600;
  color: #ffffff;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  transition: all 0.15s linear;
  cursor: pointer;
}
main .order-summary__section--discount-button-check:hover {
  background-color: #00a800;
}
main .order-summary__section--subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 5px 0;
}
main .order-summary__section--subtotal-text {
  font-size: 14px;
}
main .order-summary__section--subtotal-value {
  font-size: 14px;
}
main .order-summary__section--total {
  display: flex;
}
main .order-summary__section--total-text {
  width: 60%;
  line-height: 30px;
  font-size: 16px;
}
main .order-summary__section--total-currency {
  width: 20%;
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  line-height: 30px;
  color: #717171;
}
main .order-summary__section--total-value {
  width: 20%;
  font-size: 24px;
  font-weight: 600;
  text-align: right;
}
main .success-payment {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
main .success-payment__header {
  position: relative;
  margin-top: 56px;
  font-size: 42px;
}
main .success-payment__header .logo-image {
  height: 35px;
  width: 40px;
}
main .success-payment__header a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", Helvetica, sans-serif;
  letter-spacing: 0.2em;
}
main .success-payment__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .success-payment__body--text {
  font-size: 32px;
  color: #eeeeee;
  line-height: 1.25em;
}
main .success-payment__body--text span {
  color: #00a800;
  font-size: 36px;
}
main .success-payment__body--button-return {
  margin-top: 50px;
  padding: 15px 40px;
  background-color: #fafafa;
  font-family: "Roboto", "Helvetica", sans-serif;
  border-radius: 5px;
  transition: all 0.15s;
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: none;
  color: #1e1f1e;
  cursor: pointer;
}
main .success-payment__body--button-return:hover {
  color: #fafafa;
  background-color: #00a800;
}/*# sourceMappingURL=styleCheckout.css.map */