/* MAIN */
main {
  position: relative;
  z-index: 1;
  color: #eeeeee;
}
main .snackbar {
  position: fixed;
  border: 3px solid #f74646;
  background-color: rgba(255, 131, 131, 0.5019607843);
  margin-left: 20px;
  width: 360px;
  height: auto;
  padding-left: 20px;
  line-height: 45px;
  border-radius: 5px;
  color: #9e3a3a;
  font-family: "Roboto", serif;
}
main .snackbar__header {
  display: flex;
  justify-content: space-between;
}
main .snackbar__header i {
  margin-right: 20px;
}
main .overview {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  background-color: #2b2c2b;
}
main .overview__title {
  width: 100%;
  margin: 20px 0px 5px 40px;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
}
main .overview__subtitle {
  width: 100%;
  margin-left: 40px;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: #a0a0a0;
}
main .overview__left-block {
  width: calc(50% - 50px);
  position: relative;
  float: right;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}
main .overview__current-stats {
  display: flex;
  height: 100px;
}
main .overview__stats-block {
  margin: 10px;
  width: 200px;
}
main .overview__stats-block:first-child > .overview__block-icon .icon-wrapper:first-child {
  position: absolute;
  font-size: 40px;
  margin-top: 22px;
  z-index: 1;
  width: 37px;
  height: 36px;
}
main .overview__stats-block:first-child > .overview__block-icon .icon-wrapper:first-child i {
  position: absolute;
  color: #019267;
  transform: rotateZ(-15deg);
  z-index: 3;
}
main .overview__stats-block:first-child > .overview__block-icon .icon-wrapper:last-child {
  position: absolute;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 20px;
  z-index: 2;
  width: 27px;
  height: 26px;
  background-color: #015f43;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #f9f9f9;
}
main .overview__stats-block:first-child > .overview__block-icon .icon-wrapper:last-child i {
  position: absolute;
  font-size: 27px;
  margin-top: -0.6px;
  z-index: 4;
  color: #00c897;
}
main .overview__stats-block:nth-child(2) > .overview__block-icon .icon-wrapper:first-child {
  position: absolute;
  font-size: 40px;
  margin-top: 22px;
  z-index: 1;
  width: 37px;
  height: 36px;
}
main .overview__stats-block:nth-child(2) > .overview__block-icon .icon-wrapper:first-child i {
  position: absolute;
  color: #ffb72b;
  transform: rotateZ(-15deg);
  z-index: 3;
}
main .overview__stats-block:nth-child(2) > .overview__block-icon .icon-wrapper:last-child {
  position: absolute;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 20px;
  z-index: 2;
  width: 27px;
  height: 26px;
  background-color: #c48100;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #f9f9f9;
}
main .overview__stats-block:nth-child(2) > .overview__block-icon .icon-wrapper:last-child i {
  position: absolute;
  font-size: 27px;
  margin-top: -0.6px;
  z-index: 4;
  color: #ffe61b;
}
main .overview__stats-block:last-child > .overview__block-icon .icon-wrapper:first-child {
  position: absolute;
  font-size: 40px;
  margin-top: 22px;
  z-index: 1;
  width: 37px;
  height: 36px;
}
main .overview__stats-block:last-child > .overview__block-icon .icon-wrapper:first-child i {
  position: absolute;
  color: #890f0d;
  transform: rotateZ(-15deg);
  z-index: 3;
}
main .overview__stats-block:last-child > .overview__block-icon .icon-wrapper:last-child {
  position: absolute;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 20px;
  z-index: 2;
  width: 27px;
  height: 26px;
  background-color: #630606;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #f9f9f9;
}
main .overview__stats-block:last-child > .overview__block-icon .icon-wrapper:last-child i {
  position: absolute;
  font-size: 27px;
  margin-top: -0.6px;
  z-index: 4;
  color: #e83a14;
}
main .overview__block-icon {
  float: left;
  height: 100%;
  width: 60px;
  position: relative;
}
main .overview__block-innerText {
  font-family: "RobotoRegular";
  font-size: 20px;
  margin-top: 15px;
}
main .overview__block-innerSubtext {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #eeeeee;
  font-style: italic;
}
main .overview__total-sales-block {
  margin-left: 20px;
}
main .overview__total-sales-title {
  width: 100%;
  margin: 20px 0px 5px 0px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 27px;
}
main .overview__total-sales-text {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #a0a0a0;
  margin-bottom: 10px;
}
main .overview__total-sales-chart-wrapper div.xAxis-label {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #eeeeee;
  font-size: 14px;
  margin-left: -10px;
  margin-right: -13px;
}
main .overview__right-block {
  width: calc(50% - 50px);
  position: relative;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 50px;
}
main .overview__block-content {
  margin-top: 20px;
  border-radius: 15px;
  width: 350px;
  height: 150px;
  background-color: #1e1f1e;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 5px 3px #00a800;
}
main .overview__block-content--icon {
  position: relative;
  z-index: 1;
  font-size: 97px;
  color: #9ab19c;
  float: right;
}
main .overview__block-content--text {
  position: absolute;
  margin-top: 60px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: #a0a0a0;
  float: left;
  text-transform: capitalize;
}
main .overview__block-content--count {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px;
  float: left;
  letter-spacing: 1px;
  color: #ffffff;
}
main .user-list {
  margin: 50px;
  border-top: 1px solid #dbdbdb;
}
main .user-list__title {
  width: 100%;
  margin: 20px 0px 20px 5px;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
}
main .user-list__table-wrapper {
  width: 100%;
  max-height: 420px;
  overflow: auto;
  margin-bottom: 100px;
  border-radius: 5px;
  border: solid 1px #1a221a;
  scrollbar-width: thin;
  scrollbar-color: #373937 #006600;
}
main .user-list__table-wrapper::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #373937;
}
main .user-list__table {
  width: 100%;
  table-layout: auto;
}
main .user-list__table thead {
  position: relative;
  margin-top: -56px;
}
main .user-list__table thead th {
  position: sticky;
  top: 0;
  background-color: #00a800;
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
main .user-list__table thead th:last-child {
  border-radius: 0 5px 0 0;
}
main .user-list__table thead th:first-child {
  text-align: left;
}
main .user-list__table tbody tr {
  transition: background 0.15s linear;
  background-color: #2b2c2b;
}
main .user-list__table tbody tr:hover {
  background-color: #373937;
}
main .user-list__table tbody td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  color: #a0a0a0;
}
main .user-list__table tbody td:first-child {
  text-align: left;
}
main .user-list__table tbody td i {
  color: #a0a0a0;
}
main .user-list .user-change-btn {
  color: #4cc24c;
  text-decoration: none;
  padding: 10px 20px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
main .user-list .user-delete-btn {
  color: #d3302f;
  text-decoration: none;
  padding: 10px 20px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
main .user-list .controls {
  display: flex;
}
main .user-list .user-status.status-Admin {
  background-color: rgba(247, 233, 215, 0.4392156863);
  border: 1px solid rgba(239, 210, 173, 0.4392156863);
  border-radius: 15px;
  padding: 7px 10px;
  text-align: center;
}
main .user-list .user-status.status-Seller {
  background-color: rgba(255, 238, 238, 0.4392156863);
  border: 1px solid rgba(255, 187, 187, 0.4392156863);
  border-radius: 15px;
  padding: 7px 10px;
  text-align: center;
}
main .user-list .user-status.status-User {
  background-color: rgba(255, 246, 234, 0.4392156863);
  border: 1px solid rgba(255, 224, 183, 0.4392156863);
  border-radius: 15px;
  padding: 7px 10px;
  text-align: center;
}
main .product-section {
  margin: 50px 50px 0 50px;
  padding: 70px 0px 0px 0px;
  min-height: 700px;
  border-bottom: 1px solid #dbdbdb;
}
main .product-section__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .product-section__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
main .product-section__body .product-right {
  width: 18%;
  height: 400px;
  margin-right: 150px;
}
main .product-section__title {
  margin: 20px 0px 20px 5px;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
  float: left;
}
main .product-section__add-button {
  border: 1px solid #006600;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #00a800;
  color: #ffffff;
  float: right;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
main .product-section__empty {
  width: 100%;
  height: 500px;
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .product-section__empty-error-title {
  line-height: 46px;
  font-size: 47px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "serif";
  color: #333;
}
main .product-section__empty-error-subtitle {
  color: #a0a0a0;
  font-size: 20px;
  font-family: "Roboto";
}
main .product-section__table-wrapper {
  width: 100%;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 100px;
  border-radius: 5px;
  border: solid 1px #1a221a;
  scrollbar-width: thin;
  scrollbar-color: #373937 #006600;
}
main .product-section__table-wrapper::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #373937;
}
main .product-section__table {
  width: 100%;
  table-layout: auto;
}
main .product-section__table thead {
  position: relative;
  margin-top: -56px;
}
main .product-section__table thead th {
  position: sticky;
  top: 0;
  background-color: #00a800;
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
main .product-section__table thead th:last-child {
  border-radius: 0 5px 0 0;
}
main .product-section__table thead th:first-child {
  text-align: left;
}
main .product-section__table tbody tr {
  transition: background 0.15s linear;
  background-color: #2b2c2b;
}
main .product-section__table tbody tr:hover {
  background-color: #373937;
}
main .product-section__table tbody td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  color: #a0a0a0;
}
main .product-section__table tbody td:first-child {
  text-align: left;
}
main .product-section__table tbody td i {
  color: #a0a0a0;
}
main .product-section .product-name--link {
  color: #eeeeee;
  text-decoration: none;
  font-size: 14px;
}
main .product-section .product-name--link i {
  color: #4cc24c;
}
main .product-section .product-material,
main .product-section .subcategory {
  color: #a0a0a0;
}
main .product-section .category {
  margin-bottom: 5px;
}
main .product-section .product-change-btn {
  color: #4cc24c;
  text-decoration: none;
  padding: 10px 20px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
}
main .product-section .product-delete-btn {
  color: #d3302f;
  text-decoration: none;
  padding: 10px 20px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
}
main .product-section .controls {
  display: flex;
}
main .product-section .product-chart__title {
  margin-top: 20px;
  width: 100%;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}
main .product-section .product-chart__subtitle {
  width: 100%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: #a0a0a0;
}
main .product-section .product-chart__legend .legend-item {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
main .product-section .product-chart__legend .legend-item .item-left {
  display: flex;
  align-items: center;
}
main .product-section .product-chart__legend .legend-item__color {
  width: 20px;
  height: 10px;
  border-radius: 2px;
  margin-bottom: 1px;
  float: left;
}
main .product-section .product-chart__legend .legend-item__name {
  font-size: 14px;
  margin-left: 5px;
  float: left;
}
main .product-section .product-chart__legend .legend-item__percent {
  font-size: 14px;
  float: right;
}
main .orders-section {
  margin: 50px 50px 0 50px;
}
main .orders-section__title {
  margin: 20px 0px 20px 5px;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
  float: left;
}
main .orders-section__add-button {
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  color: #333;
  float: right;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
main .orders-section__empty {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .orders-section__empty-error-title {
  line-height: 46px;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: sans-serif;
  color: #eeeeee;
}
main .orders-section__empty-error-title span {
  color: #4cc24c;
}
main .orders-section__empty-error-subtitle {
  color: #a0a0a0;
  font-size: 20px;
  font-family: "Roboto";
}
main .orders-section__table-wrapper {
  width: 100%;
  max-height: 480px;
  overflow: auto;
  margin-bottom: 100px;
  border-radius: 5px;
  border: solid 1px #1a221a;
  scrollbar-width: thin;
  scrollbar-color: #373937 #006600;
}
main .orders-section__table-wrapper::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #373937;
}
main .orders-section__table {
  width: 100%;
  table-layout: auto;
}
main .orders-section__table thead {
  position: relative;
  margin-top: -56px;
}
main .orders-section__table thead th {
  position: sticky;
  top: 0;
  background-color: #00a800;
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
main .orders-section__table thead th:last-child {
  border-radius: 0 5px 0 0;
}
main .orders-section__table thead th:first-child {
  text-align: left;
}
main .orders-section__table tbody tr {
  transition: background 0.15s linear;
  background-color: #2b2c2b;
}
main .orders-section__table tbody tr:hover {
  background-color: #373937;
}
main .orders-section__table tbody td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  color: #a0a0a0;
}
main .orders-section__table tbody td:first-child {
  text-align: left;
}
main .orders-section__table tbody td i {
  color: #a0a0a0;
}
main .orders-section .product-name--link {
  color: #eeeeee;
  text-decoration: none;
  font-size: 14px;
}
main .orders-section .product-name--link i {
  color: #4cc24c;
}
main .orders-section .product-material {
  color: #a0a0a0;
}
main .orders-section .order-change-btn {
  color: #4cc24c;
  text-decoration: none;
  padding: 10px 20px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
main .orders-section .order-delete-btn {
  color: #4cc24c;
  text-decoration: none;
  padding: 10px 20px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
main .orders-section .controls {
  display: flex;
}
main .orders-section .controls .order-delete-btn {
  color: #d3302f;
}
main .orders-section .order-status {
  border-radius: 15px;
  padding: 7px 10px;
  text-align: center;
}
main .orders-section .order-status.status-Canceled {
  background-color: rgba(176, 176, 176, 0.5);
  border: 1px solid #8a8a8a;
  color: white;
}
main .orders-section .order-status.status-Complete {
  background-color: rgba(76, 175, 80, 0.5);
  border: 1px solid #357a38;
  color: #fcfefc;
}
main .orders-section .order-status.status-Awaiting {
  background-color: rgba(229, 115, 115, 0.5);
  border: 1px solid #d93232;
  color: white;
}
main .orders-section .order-status.status-Shipping {
  background-color: rgba(255, 213, 79, 0.5);
  border: 1px solid #ffc303;
  color: white;
}
main .orders-section .order-status.status-Packing {
  background-color: rgba(255, 167, 38, 0.5);
  border: 1px solid #d98100;
  color: white;
}
main .orders-section .order-status.status-Processed {
  background-color: rgba(66, 165, 245, 0.5);
  border: 1px solid #0c80df;
  color: white;
}
main .orders-section .order-status.status-Placed {
  background-color: rgba(255, 249, 196, 0.5);
  border: 1px solid #fff178;
  color: white;
}
main .edit-section {
  position: relative;
  left: 100px;
  width: calc(100% - 200px);
  background-color: #1e1f1e;
  top: 20px;
}
main .edit-section h1 {
  text-align: center;
  font-family: serif;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  color: #ffffff;
}
main .edit-section .product {
  position: relative;
  box-shadow: 0px 0px 2px 2px #00a800;
  background-color: #fafafa;
  border-radius: 5px;
  width: 425px;
  left: 50%;
  transform: translateX(-50%);
}
main .edit-section .product a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
}
main .edit-section .product-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 10px 10px 10px 0;
  border-right: 1px solid #1e1f1e;
}
main .edit-section .product-image-wrapper img {
  border-radius: 3px;
  overflow: hidden;
}
main .edit-section .product-body {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
main .edit-section .product-title {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}
main .edit-section .product-subtitle {
  color: #a0a0a0;
  text-decoration: none;
  font-size: 16px;
}
main .edit-section .form-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .edit-section .form-wrapper table {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #00a800;
  margin-bottom: 300px;
  padding: 0 20px;
  border-radius: 5px;
  border: 2px solid #fafafa;
}
main .edit-section .form-wrapper table td {
  width: 50%;
  height: 75px;
}
main .edit-section .form-wrapper table td label {
  float: right;
  margin-right: 50px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-decoration: none;
  color: #1e1f1e;
}
main .edit-section .form-wrapper table td .input-text,
main .edit-section .form-wrapper table td .input-date,
main .edit-section .form-wrapper table td .input-time {
  padding: 11px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 10px;
}
main .edit-section .form-wrapper table td .input-text:focus,
main .edit-section .form-wrapper table td .input-date:focus,
main .edit-section .form-wrapper table td .input-time:focus {
  border: 1px solid #4b4d51;
}
main .edit-section .form-wrapper table td .input-text {
  margin-left: 50px;
  width: 350px;
}
main .edit-section .form-wrapper table td .input-datetime {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
main .edit-section .form-wrapper table td .input-datetime .input-date {
  width: 50%;
  margin-left: 50px;
  min-width: 120px;
}
main .edit-section .form-wrapper table td .input-datetime .input-time {
  width: 50%;
  margin-left: -5px;
  min-width: 120px;
}
main .edit-section .form-wrapper table td select {
  margin-left: 50px;
  width: 200px;
  padding: 11px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 10px;
}
main .edit-section .form-wrapper table td select:focus {
  border: 1px solid #4b4d51;
}
main .edit-section .form-wrapper table a,
main .edit-section .form-wrapper table .edit-section__update-button {
  padding: 10px 20px;
  background-color: #00a800;
  font-family: "Roboto", sans-serif;
  width: 100px;
  color: #1e1f1e;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border: none;
  margin-left: 70px;
  cursor: pointer;
  text-align: center;
}
main .edit-section .form-wrapper table a::after,
main .edit-section .form-wrapper table .edit-section__update-button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 78px;
  background-color: #fafafa;
  transform: translate(-65px, 26px);
  transition: all 0.3s linear;
}
main .edit-section .form-wrapper table a:hover:after,
main .edit-section .form-wrapper table .edit-section__update-button:hover:after {
  transform: translate(-55px, 26px);
  width: 58px;
}
main .edit-section .form-wrapper table__controls td {
  padding-top: 100px;
  padding-bottom: 200px;
}
main .brand-highlight {
  position: relative;
  width: calc(100% - 200px);
  height: 400px;
  background-color: #9ab19c;
  color: #ffffff;
  border-radius: 5px;
  margin-inline: 100px !important;
}
main .brand-highlight__innerText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
main .brand-highlight__innerText .logo-image {
  background-image: url("/assets/svg/logo.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 81px;
  width: 81px;
}
main .brand-highlight__title {
  line-height: 46px;
  font-size: 43px;
  font-weight: 400;
}
main .brand-highlight__subtitle {
  line-height: 17.5px;
  font-size: 15px;
}/*# sourceMappingURL=stylePanel.css.map */