/* MAIN */
body {
  background-image: url("/view/images/https___siteleaf.grovemade.com_uploads_coverB-BTS-A1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  z-index: 1;
}
main .account-login,
main .account-registration {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: calc(50% - 250px);
  z-index: 2;
  background-color: #ffffff;
  top: 40px;
  width: 500px;
  padding: 50px;
  border-radius: 5px;
}
main .account-login__title,
main .account-registration__title {
  text-align: center;
  font-family: serif;
  font-size: 43px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
}
main .account-login input[class*=input],
main .account-registration input[class*=input] {
  z-index: 1;
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  width: 360px;
  padding-left: 10px;
}
main .account-login .see-password,
main .account-registration .see-password {
  position: absolute;
  z-index: 5;
  right: 80px;
  transform: translateY(-35px);
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  color: rgba(66, 66, 66, 0.5019607843);
}
main .account-login__submit,
main .account-registration__submit {
  background-color: #FFFFFF;
  border: none;
  padding: 12px;
  color: #424242;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 20px;
}
main .account-login__submit-span,
main .account-registration__submit-span {
  margin-left: 20px;
  width: 95px;
  height: 2px;
  background-color: #000000;
  display: block;
  transform: translateY(-5px);
  transition: all 0.2s linear;
}
main .account-login__submit:hover ~ span[class*=submit-span],
main .account-registration__submit:hover ~ span[class*=submit-span] {
  width: 75px;
  margin-left: 30px;
}
main .account-login__block,
main .account-registration__block {
  display: flex;
  float: left;
  width: 100%;
  border: none;
  border-top: 1px solid #000000;
  text-align: center;
  margin-top: 30px;
}
main .account-login__legendText,
main .account-registration__legendText {
  background-color: #fff;
  padding: 10px;
}
main .account-login__sign-button,
main .account-registration__sign-button {
  position: relative;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  top: 10px;
}
main .account-login__sign-button::after,
main .account-registration__sign-button::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 2px;
  background-color: #000000;
  display: block;
  transform: translate(-20px, 25px);
  transition: all 0.2s linear;
}
main .account-login__sign-button:hover:after,
main .account-registration__sign-button:hover:after {
  transform: translate(0px, 25px);
  width: 180px;
}
main .account-login #password-error,
main .account-registration #password-error {
  color: #ff0000;
  height: 25px;
  width: 300px;
  padding-left: 20px;
  padding-top: 5px;
}
main .personal-account {
  position: relative;
  background-color: #ffffff;
  width: calc(100% - 200px);
  left: 100px;
  top: 50px;
  padding: 50px 75px;
  border-radius: 5px;
  margin-bottom: 200px;
}
main .personal-account .main-title {
  font-size: 43px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: 0em;
  font-family: serif;
  color: #A0A0A0;
  margin-bottom: 20px;
}
main .personal-account .userInfoBlock__PersonalInfo {
  padding: 30px;
  border: none;
  border-top: 1px solid #A0A0A0;
}
main .personal-account .userInfoBlock__PersonalInfo-title {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}
main .personal-account .userInfoBlock__PersonalInfo-title i {
  color: #f69368;
}
main .personal-account .userInfoBlock__formBlock table {
  width: 100%;
}
main .personal-account .userInfoBlock__formBlock table td {
  width: 33.33%;
  padding: 30px;
}
main .personal-account .userInfoBlock__formBlock table td .userInfoBlock__input-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
main .personal-account .userInfoBlock__formBlock table td .userInfoBlock__input-block label {
  color: #A0A0A0;
  font-size: 14px;
  margin: 5px 10px;
  font-family: "din2014";
}
main .personal-account .userInfoBlock__formBlock table td .userInfoBlock__input-block div,
main .personal-account .userInfoBlock__formBlock table td .userInfoBlock__input-block input,
main .personal-account .userInfoBlock__formBlock table td .userInfoBlock__input-block select {
  font-size: 18px;
  position: relative;
  top: 10px;
  padding: 5px 10px;
  background-color: #fff;
  border: none;
}
main .personal-account .userInfoBlock__formBlock table td .userInfoBlock__input-block input.userInfoBlock__infoInput,
main .personal-account .userInfoBlock__formBlock table td .userInfoBlock__input-block select {
  border-bottom: 1px solid #000000;
}
main .personal-account .userInfoBlock .save-btn,
main .personal-account .userInfoBlock .cancel-btn {
  display: none;
}
main .personal-account .controls-block {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .personal-account .save-btn,
main .personal-account .cancel-btn {
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 0em;
  font-family: "Roboto", serif;
  background-color: #fff;
  border: none;
  margin-left: 30px;
  transition: all 0.2s linear;
  cursor: pointer;
}
main .personal-account .save-btn::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #000000;
  transition: all 0.2s linear;
  transform: translate(-50px, 25px);
}
main .personal-account .save-btn:disabled::after {
  background-color: #B7B7B7;
}
main .personal-account .save-btn:hover:after {
  transform: translate(-42px, 25px);
  width: 45px;
}
main .personal-account .cancel-btn::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 2px;
  background-color: #000000;
  transition: all 0.2s linear;
  transform: translate(-65px, 25px);
}
main .personal-account .cancel-btn:hover:after {
  transform: translate(-58px, 25px);
  width: 60px;
}
main .personal-account .change-btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 0em;
  font-family: "Roboto", serif;
  background-color: #fff;
  border: none;
  margin-left: 30px;
}
main .personal-account .change-btn::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #000000;
  transition: all 0.2s linear;
  transform: translate(-80px, 25px);
}
main .personal-account .change-btn:hover:after {
  transform: translate(-70px, 25px);
  width: 80px;
}
main .personal-account .user-address-section {
  margin-top: 50px;
}
main .personal-account .user-address-section__fieldset {
  padding: 30px;
  border: none;
  border-top: 1px solid #A0A0A0;
}
main .personal-account .user-address-section__title {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}
main .personal-account .user-address-section__title i {
  color: #f69368;
}
main .personal-account .user-address-section__block {
  margin: 10px 50px 40px 70px;
}
main .personal-account .user-address-section__label {
  color: #A0A0A0;
  font-size: 14px;
  margin: 5px 10px;
  font-family: "din2014";
}
main .personal-account .user-address-section__content {
  font-size: 18px;
  margin: 5px 10px;
  font-family: "Roboto";
}
main .personal-account .user-address-section__change-block {
  display: none;
}
main .personal-account .user-address-section__change-block-content {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .personal-account .user-address-section__change-block-content div {
  margin: 10px;
}
main .personal-account .user-address-section__change-block-content input,
main .personal-account .user-address-section__change-block-content select {
  width: 250px;
  font-size: 18px;
  position: relative;
  top: 10px;
  left: 5px;
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #000000;
}
main .personal-account .user-address-section__change-block-content label {
  color: #A0A0A0;
  font-size: 14px;
  margin: 5px;
  font-family: "din2014";
}
main .personal-account .user-address-section__input-block {
  display: flex;
  flex-direction: column;
}
main .personal-account .orders-section {
  overflow-x: auto;
  scrollbar-width: auto;
  scrollbar-color: #9AA8B1 #ffffff;
}
main .personal-account .orders-section::-webkit-scrollbar {
  width: 0px;
  border-left: 1px solid #f9f9f9;
}
main .personal-account .orders-section__fieldset {
  padding: 30px;
  border: none;
  border-top: 1px solid #A0A0A0;
}
main .personal-account .orders-section__empty-block {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .personal-account .orders-section__empty-block a {
  display: block;
  position: relative;
  width: 200px;
  height: 40px;
  color: #FFFFFF;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.15em;
  margin-top: 20px;
  border: none;
  background-color: #000000;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s ease;
}
main .personal-account .orders-section__empty-block a:hover {
  background-color: #424242;
}
main .personal-account .orders-section__empty-title {
  line-height: 46px;
  font-size: 40px;
  font-weight: 600;
  font-family: "serif";
  color: #333;
}
main .personal-account .orders-section__empty-subtitle {
  color: #A0A0A0;
  font-size: 20px;
  font-family: "din2014";
}
main .personal-account .orders-section__title {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}
main .personal-account .orders-section__title i {
  color: #f69368;
}
main .personal-account .orders-section__add-button {
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  color: #333;
  float: right;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
main .personal-account .orders-section__table-wrapper {
  width: 100%;
  max-height: 480px;
  overflow: auto;
  margin-bottom: 100px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  scrollbar-width: auto;
  scrollbar-color: #9AA8B1 #ffffff;
}
main .personal-account .orders-section__table-wrapper::-webkit-scrollbar {
  width: 0px;
  border-left: 1px solid #f9f9f9;
}
main .personal-account .orders-section__table {
  width: 100%;
  table-layout: auto;
}
main .personal-account .orders-section__table thead {
  position: relative;
  margin-top: -56px;
}
main .personal-account .orders-section__table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
}
main .personal-account .orders-section__table thead th:last-child {
  border-radius: 0 5px 0 0;
}
main .personal-account .orders-section__table thead th:first-child {
  text-align: left;
}
main .personal-account .orders-section__table tbody tr {
  transition: all 0.1s linear;
  background-color: #ffffff;
}
main .personal-account .orders-section__table tbody tr:hover {
  background-color: #f9f9f9;
}
main .personal-account .orders-section__table tbody td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
main .personal-account .orders-section__table tbody td:first-child {
  text-align: left;
}
main .personal-account .orders-section__table tbody td i {
  color: #A0A0A0;
}
main .personal-account .orders-section .product-name--link {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}
main .personal-account .orders-section .product-name--link i {
  color: #333;
}
main .personal-account .orders-section .product-material {
  color: #a0a0a0;
}
main .personal-account .orders-section .order-change-btn {
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
main .personal-account .orders-section .order-delete-btn {
  color: #f69368;
  text-decoration: none;
  padding: 10px 20px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
main .personal-account .orders-section .controls {
  display: flex;
}
main .personal-account .orders-section .order-status.status-Canceled {
  background-color: rgba(150, 150, 150, 0.4392156863);
  border: 1px solid rgba(125, 125, 125, 0.4392156863);
  border-radius: 15px;
  padding: 7px 10px;
  text-align: center;
}
main .personal-account .orders-section .order-status.status-Complete {
  background-color: rgba(107, 203, 119, 0.4392156863);
  border: 1px solid rgba(69, 190, 84, 0.4392156863);
  border-radius: 15px;
  padding: 7px 10px;
  text-align: center;
}
main .personal-account .orders-section .order-status.status-Awaiting {
  background-color: rgba(255, 107, 107, 0.4392156863);
  border: 1px solid rgba(255, 56, 56, 0.4392156863);
  border-radius: 15px;
  padding: 7px 10px;
  text-align: center;
}
main .personal-account .orders-section .order-status.status-Shipping {
  background-color: rgba(255, 217, 61, 0.4392156863);
  border: 1px solid rgba(255, 207, 10, 0.4392156863);
  border-radius: 15px;
  padding: 7px 10px;
  text-align: center;
}
main .personal-account .orders-section .order-status.status-Packing {
  background-color: rgba(255, 183, 43, 0.4392156863);
  border: 1px solid rgba(247, 163, 0, 0.4392156863);
  border-radius: 15px;
  padding: 7px 10px;
  text-align: center;
}
main .personal-account .orders-section .order-status.status-Processed {
  background-color: rgba(77, 150, 255, 0.4392156863);
  border: 1px solid rgba(26, 120, 255, 0.4392156863);
  border-radius: 15px;
  padding: 7px 10px;
  text-align: center;
}
main .personal-account .orders-section .order-status.status-Placed {
  background-color: rgba(255, 237, 218, 0.4392156863);
  border: 1px solid rgba(255, 212, 167, 0.4392156863);
  border-radius: 15px;
  padding: 7px 10px;
  text-align: center;
}
main .personal-account .account-control {
  margin-top: 30px;
  box-sizing: border-box;
  z-index: 7;
}
main .personal-account .account-control__user-logout, main .personal-account .account-control__user-delete {
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 0em;
  font-family: "Roboto", serif;
  background-color: #fff;
  border: none;
  margin-left: 30px;
}
main .personal-account .account-control__user-logout {
  color: #000000;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .personal-account .account-control__user-logout::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #000000;
  transition: all 0.2s linear;
  transform: translate(-80px, 25px);
}
main .personal-account .account-control__user-logout:hover:after {
  transform: translate(-70px, 25px);
  width: 80px;
}
main .personal-account .account-control__user-delete {
  color: #f69368;
  float: right;
}
main .personal-account .account-control__modal-block-background {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5647058824);
  top: 75px;
  display: none;
  left: 0;
}
main .personal-account .account-control__modal-block-content {
  top: 75px;
  position: fixed;
  z-index: 11;
  display: none;
  background-color: #fff;
  width: 36.8vw;
  height: 20vh;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
main .personal-account .account-control__modal-block-content h2 {
  font-size: 1.55vw;
  font-family: serif;
  text-align: center;
}
main .personal-account .account-control__modal-content-delete, main .personal-account .account-control__modal-content-cancel {
  position: fixed;
  padding: 10px 20px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.08em;
  font-family: "Roboto", serif;
  border-radius: 5px;
  cursor: pointer;
  bottom: 20px;
}
main .personal-account .account-control__modal-content-cancel {
  left: 50px;
}
main .personal-account .account-control__modal-content-delete {
  right: 50px;
  color: #f69368;
}
main .error-alert-block {
  position: fixed;
  z-index: 10;
  top: 100px;
  left: 30px;
  width: 370px;
  height: 55px;
  background-color: #D3302F;
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.41);
  border-bottom: 1px solid #ab2524;
  overflow: hidden;
}
main .error-alert-block .action_clck {
  cursor: pointer;
}
main .error-alert-block__header {
  padding: 15px 25px 15px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ab2524;
}
main .error-alert-block__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .error-alert-block__title span {
  margin-right: 10px;
}
main .error-alert-block__dropdown-btn {
  line-height: 24px;
}
main .error-alert-block__text {
  padding-left: 20px;
  line-height: 45px;
  font-family: "Roboto", serif;
}